@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');

body {
  background-color: #E8E8E8;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 80px;
  letter-spacing: 2px;
  color: #1f1f1f;
}

.app {
  display: grid;
  justify-content: center;
}

form {
  margin: 2em;
  
}

input, select {
  position: relative;
  display: inline-block;
  background: #ffffffbb;
  border: 0;
  border-radius: 10px;
  outline: none;
  margin-right: 1em;
  padding: 1em;
}

select, button {
  cursor: pointer;
}

button {
  position: absolute;
  border: 0;
  border-radius: 10px;
  outline: none;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  background: transparent;
  letter-spacing: -2px;
  color: #1f1f1f;
  transition: opacity 200ms ease-in-out;
}

button:hover {
  opacity: .8;
}

table {
  table-layout: fixed;
  border-spacing: 0;
  width: 850px;
  padding: 1em;
}

tr, th, td {
  text-align: center;
  padding: .8em;
}

tr:nth-child(even) {
  background: #ffffffbb;
}

th {
  background-color: #F79E02;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
